@{
    ViewData["Title"] = "My Podcasts";
}

@*Podcast page*@

<img src="~/img/bacon.png" width="700" style="display: block;margin-left: auto;margin-right: auto;width: 80%" />
<br />

<h3 style="text-align:center">Check out our sick podcast <a href="https://baconsale.com/" target="_blank" style="color:indianred">here</a></h3>
<br />

<img src="~/img/baconsale.jpeg" width="700" style="display: block;margin-left: auto;margin-right: auto;width: 50%" />
<br />
<h2 style="text-align:center">Just guys being dudes.</h2>

